.coin { 
    background-color: #FFFFFF;
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-items: center; */
    justify-content: center;
    align-items: center;
    
  }

  .coin-image {
    /* margin-top: 20px; */
    height: 180px;
    width: 180px;
  }