@mixin media($queryString) {
  @media #{$queryString} {
    @content;
  }
}

.information {
  width: 40%;
  height: 80vh;
  .info {
    margin: 1.2rem;
    .info-subject {
      color: #7e7e7e;
      font-weight: bold;
    }
    .info-number {
      font-size: 25px;
      font-weight: bold;
    }
  }
  @include media('only screen and (min-width: 800px)') {
    .info {
      margin: 1.8rem;
      .info-subject {
        color: #7e7e7e;
        font-weight: bold;
      }
      .info-number {
        font-size: 30px;
        font-weight: bold;
      }
    }
  }
  @include media('only screen and (min-width: 900px)') {
    .info {
      margin: 2.5rem;
      .info-subject {
        color: #7e7e7e;
        font-weight: bold;
      }
      .info-number {
        font-size: 30px;
        font-weight: bold;
      }
    }
  }
}
