.dashboard {
    background-color: #F3F4F5;
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* overflow: auto; */
  }
.header {
    display: flex;
    flex-direction: row;
    height: 20vh;
}
.dashboard-title {
    text-align: left;
    width: 80%;
    padding: 5%;
    font-weight: bold;
    font-size: 2rem;
    /* background-color: cadetblue; */
}
.setting {
    /* background-color: chartreuse; */
    width: 20%;
}


.main {
    display: flex;
    flex-direction: row;
}
.chart {
    /* background-color:tomato; */
    width: 60%;
    height: 80vh;
    padding-left: 20px;
}

canvas {
    width: 100% !important;
    height: auto !important;
}
