.coin {
  background-color: #ffffff;
  width: 30%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-items: center; */
  justify-content: center;
  align-items: center;
  .coin-image {
    /* margin-top: 20px; */
    height: 50%;
    width: 80%;
  }
}
